<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Happy Valentine's Day"/>
<meta property="og:type" content="cause"/>
<meta property="og:url" content="http://allvalentine.com/"/>
<meta property="og:image" content="http://allvalentine.com/valentine.jpg"/>
<meta property="og:site_name" content="Happy Valentine's Day"/>
<meta property="fb:admins" content="500108777"/>
<meta property="og:description" content="You got a Valentine's Day message from your friend. Click the link above to see it!"/>


  <style type="text/css">
    body{
      margin:0;
    }
    #content{
    }
    .movie{
      display:none;
    }
    a {
	    color:#fa6565;
    }
    .didi
    {
                  background: transparent;

            position: right:30px;
            
            
            float: rigth;
            font: 24px Arial, sans-serif;
            color: #fff;
            padding: 225px;
            z-index: 2;


    }
    .back
    {

      background-color: #114C73;
    }
    .dida {

                  background: transparent;
      position: fixed;
      width: 100%;
      top: 0;
      font: 24px Arial, sans-serif;
      color: #fff;
      padding: 40px;
      z-index: 1;
    }
    .dido {
      font: 12px Arial, sans-serif;
      color: #fa6565;
    }

  </style>
  <script type="text/javascript">
    $(function(){
      $(".movie").mb_YTPlayer();
    });
  </script>


</head>
<body>

<%= yield %>

</body>
</html>
